fastapi
uvicorn
pymupdf
# chromadb 
langchain-ollama
python-multipart
pillow
langchain
langchain-community
langchain-core
python-docx
openpyxl
pandas
python-pptx
unstructured[all]
flashrank
networkx
docx2txt
msoffcrypto-tool
