fastapi
uvicorn
pymupdf
# chromadb 
langchain-chroma
langchain-ollama
python-multipart
pillow
langchain
langchain-community
langchain-core
langchain-text-splitters
python-docx
openpyxl
pandas
python-pptx
unstructured[all]
flashrank
networkx
docx2txt
msoffcrypto-tool
# python-magic-bin
python-magic
python-dotenv
langchain-cohere
cohere
langchain-google-genai
langchain-groq
