fastapi
uvicorn
email-validator
pymupdf
# chromadb 
langchain-chroma
langchain-ollama
python-multipart
langchain
langchain-community
langchain-core
langchain-text-splitters
python-docx
openpyxl
python-pptx
docx2txt
filetype
python-dotenv
psycopg[binary]
langchain-cohere
cohere
langchain-google-genai
langchain-groq
groq
PyJWT
supabase
bcrypt
requests
beautifulsoup4
